web/WEB-INF/wsdl/localhost_8080/UsuariosWS/UsuarioWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://usuarios.mercatec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://usuarios.mercatec/" name="UsuarioWS">
<types>
<xsd:schema>
<xsd:import namespace="http://usuarios.mercatec/" schemaLocation="http://localhost:8080/UsuariosWS/UsuarioWS?xsd=1" />
</xsd:schema>
</types>
<message name="user">
<part name="parameters" element="tns:user" />
</message>
<message name="userResponse">
<part name="parameters" element="tns:userResponse" />
</message>
<message name="nickname">
<part name="parameters" element="tns:nickname" />
</message>
<message name="nicknameResponse">
<part name="parameters" element="tns:nicknameResponse" />
</message>
<message name="deleteTheirProducts">
<part name="parameters" element="tns:deleteTheirProducts" />
</message>
<message name="deleteTheirProductsResponse">
<part name="parameters" element="tns:deleteTheirProductsResponse" />
</message>
<message name="deleteTheirComments">
<part name="parameters" element="tns:deleteTheirComments" />
</message>
<message name="deleteTheirCommentsResponse">
<part name="parameters" element="tns:deleteTheirCommentsResponse" />
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser" />
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse" />
</message>
<message name="insertUserCar">
<part name="parameters" element="tns:insertUserCar" />
</message>
<message name="insertUserCarResponse">
<part name="parameters" element="tns:insertUserCarResponse" />
</message>
<message name="insertUser">
<part name="parameters" element="tns:insertUser" />
</message>
<message name="insertUserResponse">
<part name="parameters" element="tns:insertUserResponse" />
</message>
<message name="getIDCar">
<part name="parameters" element="tns:getIDCar" />
</message>
<message name="getIDCarResponse">
<part name="parameters" element="tns:getIDCarResponse" />
</message>
<message name="deleteUserCar">
<part name="parameters" element="tns:deleteUserCar" />
</message>
<message name="deleteUserCarResponse">
<part name="parameters" element="tns:deleteUserCarResponse" />
</message>
<portType name="UsuarioWS">
<operation name="user">
<input wsam:Action="http://usuarios.mercatec/UsuarioWS/userRequest" message="tns:user" />
<output wsam:Action="http://usuarios.mercatec/UsuarioWS/userResponse" message="tns:userResponse" />
</operation>
<operation name="nickname">
<input wsam:Action="http://usuarios.mercatec/UsuarioWS/nicknameRequest" message="tns:nickname" />
<output wsam:Action="http://usuarios.mercatec/UsuarioWS/nicknameResponse" message="tns:nicknameResponse" />
</operation>
<operation name="deleteTheirProducts">
<input wsam:Action="http://usuarios.mercatec/UsuarioWS/deleteTheirProductsRequest" message="tns:deleteTheirProducts" />
<output wsam:Action="http://usuarios.mercatec/UsuarioWS/deleteTheirProductsResponse" message="tns:deleteTheirProductsResponse" />
</operation>
<operation name="deleteTheirComments">
<input wsam:Action="http://usuarios.mercatec/UsuarioWS/deleteTheirCommentsRequest" message="tns:deleteTheirComments" />
<output wsam:Action="http://usuarios.mercatec/UsuarioWS/deleteTheirCommentsResponse" message="tns:deleteTheirCommentsResponse" />
</operation>
<operation name="deleteUser">
<input wsam:Action="http://usuarios.mercatec/UsuarioWS/deleteUserRequest" message="tns:deleteUser" />
<output wsam:Action="http://usuarios.mercatec/UsuarioWS/deleteUserResponse" message="tns:deleteUserResponse" />
</operation>
<operation name="insertUserCar">
<input wsam:Action="http://usuarios.mercatec/UsuarioWS/insertUserCarRequest" message="tns:insertUserCar" />
<output wsam:Action="http://usuarios.mercatec/UsuarioWS/insertUserCarResponse" message="tns:insertUserCarResponse" />
</operation>
<operation name="insertUser">
<input wsam:Action="http://usuarios.mercatec/UsuarioWS/insertUserRequest" message="tns:insertUser" />
<output wsam:Action="http://usuarios.mercatec/UsuarioWS/insertUserResponse" message="tns:insertUserResponse" />
</operation>
<operation name="getIDCar">
<input wsam:Action="http://usuarios.mercatec/UsuarioWS/getIDCarRequest" message="tns:getIDCar" />
<output wsam:Action="http://usuarios.mercatec/UsuarioWS/getIDCarResponse" message="tns:getIDCarResponse" />
</operation>
<operation name="deleteUserCar">
<input wsam:Action="http://usuarios.mercatec/UsuarioWS/deleteUserCarRequest" message="tns:deleteUserCar" />
<output wsam:Action="http://usuarios.mercatec/UsuarioWS/deleteUserCarResponse" message="tns:deleteUserCarResponse" />
</operation>
</portType>
<binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="user">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="nickname">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteTheirProducts">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteTheirComments">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertUserCar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getIDCar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteUserCar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="UsuarioWS">
<port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
<soap:address location="http://localhost:8080/UsuariosWS/UsuarioWS" />
</port>
</service>
</definitions>