web/WEB-INF/wsdl/localhost_8080/CarritoWS/CarritoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://carrito.mercatec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://carrito.mercatec/">

<xs:element name="deleteProductCarrito" type="tns:deleteProductCarrito" />

<xs:element name="insertProductCarrito" type="tns:insertProductCarrito" />

<xs:complexType name="deleteProductCarrito">
<xs:sequence>
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertProductCarrito">
<xs:sequence>
<xs:element name="idUsuario" type="xs:int" />
<xs:element name="idProducto" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>