src/conf/xml-resources/web-service-references/ReportesWS/wsdl/localhost_8080/ReportesWS/ReportesWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://reportes.mercatec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://reportes.mercatec/">

<xs:element name="deleteReport" type="tns:deleteReport" />

<xs:element name="deleteReportResponse" type="tns:deleteReportResponse" />

<xs:element name="deleteSameReports" type="tns:deleteSameReports" />

<xs:element name="deleteSameReportsResponse" type="tns:deleteSameReportsResponse" />

<xs:element name="insertReport" type="tns:insertReport" />

<xs:element name="insertReportResponse" type="tns:insertReportResponse" />

<xs:complexType name="deleteSameReports">
<xs:sequence>
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSameReportsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteReport">
<xs:sequence>
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteReportResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertReport">
<xs:sequence>
<xs:element name="idUsuario" type="xs:int" />
<xs:element name="idProducto" type="xs:int" />
<xs:element name="motivo" type="xs:string" minOccurs="0" />
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertReportResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>