web/WEB-INF/wsdl/localhost_8080/ProductosWS/ProductoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://productos.mercatec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://productos.mercatec/" name="ProductoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://productos.mercatec/" schemaLocation="http://localhost:8080/ProductosWS/ProductoWS?xsd=1" />
</xsd:schema>
</types>
<message name="modifyProduct">
<part name="parameters" element="tns:modifyProduct" />
</message>
<message name="modifyProductResponse">
<part name="parameters" element="tns:modifyProductResponse" />
</message>
<message name="insertProduct">
<part name="parameters" element="tns:insertProduct" />
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct" />
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse" />
</message>
<message name="modifyProductByImageInBlank">
<part name="parameters" element="tns:modifyProductByImageInBlank" />
</message>
<message name="modifyProductByImageInBlankResponse">
<part name="parameters" element="tns:modifyProductByImageInBlankResponse" />
</message>
<portType name="ProductoWS">
<operation name="modifyProduct">
<input wsam:Action="http://productos.mercatec/ProductoWS/modifyProductRequest" message="tns:modifyProduct" />
<output wsam:Action="http://productos.mercatec/ProductoWS/modifyProductResponse" message="tns:modifyProductResponse" />
</operation>
<operation name="insertProduct">
<input wsam:Action="http://productos.mercatec/ProductoWS/insertProduct" message="tns:insertProduct" />
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://productos.mercatec/ProductoWS/deleteProductRequest" message="tns:deleteProduct" />
<output wsam:Action="http://productos.mercatec/ProductoWS/deleteProductResponse" message="tns:deleteProductResponse" />
</operation>
<operation name="modifyProductByImageInBlank">
<input wsam:Action="http://productos.mercatec/ProductoWS/modifyProductByImageInBlankRequest" message="tns:modifyProductByImageInBlank" />
<output wsam:Action="http://productos.mercatec/ProductoWS/modifyProductByImageInBlankResponse" message="tns:modifyProductByImageInBlankResponse" />
</operation>
</portType>
<binding name="ProductoWSPortBinding" type="tns:ProductoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="modifyProduct">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertProduct">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="modifyProductByImageInBlank">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ProductoWS">
<port name="ProductoWSPort" binding="tns:ProductoWSPortBinding">
<soap:address location="http://localhost:8080/ProductosWS/ProductoWS" />
</port>
</service>
</definitions>