web/WEB-INF/wsdl/localhost_8080/ReportesWS/ReportesWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://reportes.mercatec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://reportes.mercatec/" name="ReportesWS">
<types>
<xsd:schema>
<xsd:import namespace="http://reportes.mercatec/" schemaLocation="http://localhost:8080/ReportesWS/ReportesWS?xsd=1" />
</xsd:schema>
</types>
<message name="deleteSameReports">
<part name="parameters" element="tns:deleteSameReports" />
</message>
<message name="deleteSameReportsResponse">
<part name="parameters" element="tns:deleteSameReportsResponse" />
</message>
<message name="insertReport">
<part name="parameters" element="tns:insertReport" />
</message>
<message name="insertReportResponse">
<part name="parameters" element="tns:insertReportResponse" />
</message>
<message name="deleteReport">
<part name="parameters" element="tns:deleteReport" />
</message>
<message name="deleteReportResponse">
<part name="parameters" element="tns:deleteReportResponse" />
</message>
<portType name="ReportesWS">
<operation name="deleteSameReports">
<input wsam:Action="http://reportes.mercatec/ReportesWS/deleteSameReportsRequest" message="tns:deleteSameReports" />
<output wsam:Action="http://reportes.mercatec/ReportesWS/deleteSameReportsResponse" message="tns:deleteSameReportsResponse" />
</operation>
<operation name="insertReport">
<input wsam:Action="http://reportes.mercatec/ReportesWS/insertReportRequest" message="tns:insertReport" />
<output wsam:Action="http://reportes.mercatec/ReportesWS/insertReportResponse" message="tns:insertReportResponse" />
</operation>
<operation name="deleteReport">
<input wsam:Action="http://reportes.mercatec/ReportesWS/deleteReportRequest" message="tns:deleteReport" />
<output wsam:Action="http://reportes.mercatec/ReportesWS/deleteReportResponse" message="tns:deleteReportResponse" />
</operation>
</portType>
<binding name="ReportesWSPortBinding" type="tns:ReportesWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="deleteSameReports">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertReport">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteReport">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ReportesWS">
<port name="ReportesWSPort" binding="tns:ReportesWSPortBinding">
<soap:address location="http://localhost:8080/ReportesWS/ReportesWS" />
</port>
</service>
</definitions>